:root {
  font-size: 16px;
  font-family: "Open Sans";
}

 
main {
  animation: marginLeft 1s ease;
  margin-left: 230px;
}

@keyframes marginLeft {
from {
  margin-left: 5rem;
}
to {
  margin-left: 230px;
}

}

@media (max-width: 767px){
  main{margin-left:0;}
}


@media only screen and (min-width: map-get($map: $breakpoints, $key: "tablet")) {
  main {
    animation: marginLeft 1s ease;
    margin-left: 230px;
  }
}
@keyframes marginLeft {
  from {
    margin-left: 5rem;
  }
  to {
    margin-left: 230px;
  }
}

body {
  
  /*background: $gray-80;*/
  color: #FFF;
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  background: #121212;
  background: #16171c;
  background:#000;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

 

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: white;
}


 
section.context{
  padding: 30px 15px;
  
} 

.form{
    background: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 0.9375rem 20px;
    border-radius: 6px;
}

.MuiOutlinedInput-input,.MuiOutlinedInput-input {
  padding: 12.5px 14px !important;
}

.MuiInputLabel-outlined {
  transform: translate(14px, 15px) scale(1) !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink{
    transform: translate(14px, -6px) scale(0.75) !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  padding: 0px !important;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}