.sidebar{
  width: auto;
    visibility: visible;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    min-height: 100%;
    display: block;

    background-image: -webkit-gradient(linear, left top, right top, from(#1c1c1c), to(#171717));
    background-image: linear-gradient(to right, #1c1c1c 0%, #171717 100%);
    background-repeat: repeat-x;
}

.navbar ul {
    font-size: 16px;
    list-style: none;
    position: relative;
    border-bottom-color: rgba(255, 255, 255, 0.05);
    border-top-color: rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.navbar ul  li{
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.005);
  border-top: 1px solid rgba(0, 0, 0, 0.025);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-top-color: rgba(255, 255, 255, 0.05);
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}

.navbar ul  li::before {
  background-color: transparent;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 5px;
}

.navbar ul  li a{
  text-decoration: none;
  display: block;
  position: relative;
  fill: #c1c3c6;
  padding: 15px 15px 15px 30px;
  color: #919496;
  border: none;
  border-radius: 0;
  letter-spacing: 0;
  text-transform: none;
}

.active::before {
  background-color: #1ed760 !important; 
}

.active a {
  color:#FFFF !important;
}